// html,
// body {
//   height: 100%;
// }





// //html, 
// body {
//   display: -ms-flexbox;
//   //display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   background-color: #f5f5f5;
//   height: 100%
// }

.content {
  max-width: 960px;
  margin: auto;
}

.container {
  margin: auto;
  text-align: center;
}

.inputform{
  position: relative;
  
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.radio{
  margin: auto;

}

.searchbar{
  margin: auto;
  width: 220px;
}


/* by default the reveal-if-active div will be hidden */
.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: scale(0.8);
    transition: 0.5s;
    input[type="radio"]:checked ~ &,
    input[type="checkbox"]:checked ~ & {
      opacity: 1;
      max-height: 100px;
      overflow: visible;
      padding: 10px 20px;
      transform: scale(1);
    }
  }

    .profilecard {
    box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 975px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
    border-radius: 18px;
  }

  .profilecard2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .row{
    padding-left: 10%;
    padding-right: 10%;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  img {
    border-radius: 15px;
  }
  
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }

  .alert-error {
    background-color: red;
    color: white;
  }