{%extends "layout.html" %}

{% block main %}
<div class ="row">                        
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card p-1" style="border-radius: 12px;">
            <div class="card-header">
                <h4 class="card-title">Top 10 Campaign Contributions by Organization</h4>
            </div>
            <div class="card-body">
                {{ gdiv  | safe }} 
                
                {{ gscript | safe}}
            </div>
            <div class="card-footer">
            <a href={{ "%s"%session["source"] }}>Source: Center for Responsive Politics</a><br>
            <span  class="mt-0" style="font-weight: 100; font-size: .7em;">Figures are 6-year numbers for Senators/Senate candidates; 2-year numbers for Representatives/House candidates.</span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card" style="border-radius: 12px;">
            <div class="card-body ">
                <table class="table-responsive table-striped table-hover table-sm">
                    <thead>
                        <th>Organization</th>
                        <th>Individual Contributions</th>
                        <th>PAC Contributions</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                    {% for row in rows %}   
                        <tr>
                            <td>{{ row["@attributes"]["org_name"] }}</td>
                            <td>{{ row["@attributes"]["indivs"] | usd }}</td>
                            <td>{{ row["@attributes"]["pacs"] | usd }}</td>
                            <td>{{ row["@attributes"]["total"] | usd }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>

{% endblock %}